.excercise-box-wrapper {
    display: none;
    opacity:0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.39);
    z-index: 999;
    text-transform: uppercase;

    .excercise-box{
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transform-origin: center;
        width: 1000px;
        height: 500px;
        opacity: 0;
        background-color: #23232b;
        border: black 4px solid;
        transition: width .3s linear, height .3s linear;    

        .close-project{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            cursor: pointer;
            z-index: 99;
            &::before, &::after {
                content: "";
                position: absolute;
                right: 10px;
                height: 7px;
                width: 30px;
                border-radius: 5px;
                background-color: #94a4b4;
            }
            &::before{
                transform: translateY(30px) rotateZ(45deg);
            }
            &::after{
                transform: translateY(30px) rotateZ(-45deg);
            }
        }
        .img-wrapper {
            display: inline-block;
            position: relative;
        
            width: 55%;
            height: 100%;
        
            background-color: #222327;
            img {
                position: absolute;
                width: 350px;
                height: auto;
            
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        .excercise-info {
            position: relative;
        
            vertical-align: top;
            float: right;
            width: 44%;
            height: 100%;
            padding: 20px;
        
            background-color: #343a41;
            .excercise-title {
                display: block;
                font-size: .9rem;
                font-weight: 550;
                color: #94a4b4;
                letter-spacing: 1px;
            
                margin: 3px 0 6px;
            }
            .excercise-name {
                font-size: 1.5rem;
                letter-spacing: 2px;
            }
            .excercise-coding-lng{
                padding: 5px 0;
                margin: 0;
                li {   /*ul!!!!!! Má své parametry?*/
                    display: inline-block;
                    padding: 4px;
                    border: #222327 1px solid;
                    margin: 5px;
                    font-size: .75rem;
                    color: #94a4b4;
                    letter-spacing: 1px; /*make this font in one line for every type*/
                
                    list-style-type: none;
                }
            }
            .excercise-about-title {
                display: block;
                font-size: .9rem;
                font-weight: 550;
                color: #94a4b4;
                letter-spacing: 1px;
            
                margin-top: 20px;
            
            }
            .excercise-about {
                height: 50%;
                overflow-y: scroll;
            
                font-family: Lucida;
                text-transform: none;
                font-size: 0.85rem;
                color: #94a4b4;
                letter-spacing: 0;
                line-height: 1.5;
                p {
                    margin: 30px 15px 0 5px;
                    }            
                }
                .excercise-buttons .excercise-button{
                    display: inline-block;
                    width: 80px;
                    height: 25px;
                    margin-top: 30px;
                    border-radius: 3px;
                    text-align: center;
                    line-height: 25px;
                    font-size: .85rem;
                    color: black;
                    background-color: #d6d8d9;
                    letter-spacing: 1px;
                    svg {
                        height: 13px;
                        margin-right: 5px;
                    }
                }
                .demo {
                    margin-right: 5px;
                }

        }
    }
}

@keyframes excerciseBox {
    0% {
        opacity:0;
        transform: translate(-50%,-50%) scale(0.5);
    }
    100%{
        opacity: 1;
        transform:  translate(-50%,-50%) scale(1);
    }
}